body {
    background-color: #273043;
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    margin: 2rem 0;
    border-bottom: 5px dashed #fff;
}

.text-gray {
    color: #aaa;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content,
.button-wrap {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active,
.button-wrap.active {
    width: 100%;
    margin: 0;
}

/* Carousel Container */
.carousel-container {
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}

/* Carousel Images */
.carousel-item img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(95, 94, 94, 0.829);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Carousel Control Buttons */
.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}

/* Carousel Control Prev Button */
.carousel-control-prev:before {
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    font-size: 1.5em;
}

/* Carousel Control Next Button */
.carousel-control-next:before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    font-size: 1.5em;
}

.homepage-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content,
    .button-wrap {
        width: 100%;
        margin: 0;
    }

    #content.active,
    .button-wrap.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

.social_links {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.social_links li {
    display: inline-block;
    margin-right: 4px;
}

.social_links li a {
    display: block;
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #7c7777;
}

.social_links li a:hover,
.social_links li a:focus {
    text-decoration: none;
}

.codewars a:hover {
    color: #b94d39;
}

.linkedin a:hover {
    color: #0077B5;
}

.github a:hover {
    color: #171515;
}

.fa-php {
    color: #8993be;
}

.fa-js {
    color: #FFD600;
}

.fa-html5 {
    color: #e34f26;
}

.fa-java {
    color: #5382a1;
}